/* Basics Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #87ceeb;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #87ceeb;

}

/* Mario */
#mario {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background-image: url(/img/mario.png);
    background-size: cover;
}

/* Chão */
#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #654321;
}

/* Blocos */
.bloco {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(/img/block.png);
    background-size: cover;
}

/* Inimigos */
.inimigo {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(/img/goomba.webp);
    background-size: cover;
}